$backgroundColor: #dee2e6;

$iconColor: #505050;
$fontColor: #3c3e41;
$titleFontColor: #2b2b2b;
$darkBlueGray: #393E46;
$subfontColor: #777777;

$pColorPink: #c544bf;
$pColorCyan: #44c1c5;

$serifFont: 'Prata', serif;