@import "../../assets/scss/_globalVariable.scss";

.job-post {
  width: 100%;
  border-radius: 15px;
  box-shadow: 4px 4px 8px #0000003b, -4px -4px 10px #ffffffbb;
  padding: 2rem;
  transition: all ease-in-out 500ms;
  animation: rgbPostBorder infinite 15s;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 4px 4px 20px #00000021, -4px -4px 20px #ffffff;
  }

  &:first-child {
    margin-top: 0;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .job-container-title {
    align-items: flex-end;
    animation: rgb-label infinite 15s;

    .until-date {
      font-size: 14px;
      color: $subfontColor;
    }
  }

  .address-n-type-container {
    margin-top: 0.5rem;

    .address-wrapper-detail {
      margin-top: 0.5rem;
      display: flex;
      align-items: flex-end;

      .location-pin {
        width: 0.8rem;
        margin-right: 10px;
        fill: $iconColor;
      }

      .address-detail {
        font-weight: bold;
        color: $subfontColor;
        font-size: 14px;
      }
    }

    .job-type {
      font-size: 20px;
      font-weight: bold;
      color: $fontColor;
    }
  }

  .skills-n-salary-wrapper {
    align-items: flex-start;
    margin-top: 2rem;

    .skills-wrapper-detail {
      display: flex;
      flex-wrap: wrap;

      .skill-detail {
        color: $iconColor;
        font-size: 14px;
        border-radius: 20px;
        padding: 10px 16px 10px 16px;
        margin-bottom: 1rem;
        margin-right: 16px;
        background-color: $backgroundColor;
        box-shadow: 2px 2px 5px #0000003d, -2px -2px 5px #ffffff;
      }
    }

    .salary {
      font-weight: bold;
      color: $subfontColor;
      margin-top: 0.5rem;
    }
  }

  .candidate-interview-date-wrapper {
    margin-top: 2rem;
    font-weight: bold;
    color: $fontColor;

    .interview-label {
      animation: rgb-label infinite 15s;
    }
  }
}