@import "../../assets/scss/_globalVariable.scss";

.candidates-dashboard-container {
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  color: $fontColor;

  .header {
    width: 100%;
    color: $darkBlueGray;

    .desc-label {
      color: $subfontColor;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5rem;

    .main-col {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;

      .candidates-wrapper {
        width: 100%;
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .container-box {
    border-radius: 15px;
    box-shadow: 4px 4px 8px #0000003b, -4px -4px 10px #ffffffbb;
    padding: 2rem;
    transition: all ease-in-out 500ms;
  }
}

.detail-wrapper {
  box-shadow: 4px 4px 8px #0000003b, -4px -4px 10px #ffffffbb;
  transition: all ease-in-out 500ms;
  position: fixed;
  width: 0%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;

  .detail-container {
    width: 85%;
    margin: 2rem auto;
    color: $fontColor;

    h3,
    h4,
    span {
      white-space: nowrap;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .detail-container-top-row {
      .close-detail {
        width: 28px;
        fill: $iconColor;

        &:hover {
          cursor: pointer;
        }
      }

      .delete-candidate-button {
        display: block;
        text-align: right;
        width: 100%;
        color: #d66b6b;
        font-weight: bold;
        white-space: nowrap;
      }
    }

    .candidate-info-wrapper {
      text-align: center;
      margin-top: 2.5rem;

      .candidate-detail-image {
        width: 70px;
        height: 70px;
        border-radius: 1000px;
      }

      .candidate-name {
        margin-top: 1rem;
      }

      .candidate-bio {
        display: block;
        font-size: 14px;
        color: $subfontColor;
        margin-top: 0.5rem;
        white-space: nowrap;
      }
    }

    .candidate-academic {
      text-align: center;
      margin-top: 2rem;

      .candidate-level {
        display: block;
        margin-top: 0.5rem;
        animation: rgb-label infinite 15s;
      }
    }

    .candidate-skills-wrapper {
      margin-top: 2rem;
      text-align: center;

      .candidate-skills-wrapper-detail {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .skill-detail {
          color: $iconColor;
          font-size: 14px;
          border-radius: 20px;
          padding: 10px 16px 10px 16px;
          margin: 0 16px 16px 0;
          background-color: $backgroundColor;
          box-shadow: 2px 2px 5px #0000003d, -2px -2px 5px #ffffff;
        }
      }

      .candidate-no-skill {
        display: block;
        margin-top: 0.5rem;
      }
    }

    .interview-button {
      white-space: nowrap;
      margin-top: 1rem;
      width: 100%;
      height: 2.8rem;
      background-color: $darkBlueGray;
      border: none;
      border-radius: 10px;
      color: $backgroundColor;
      font-weight: bolder;
      box-shadow: 3px 3px 7px #00000060, -3px -3px 7px #ffffffab;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }

      animation: rgb-button-color infinite 15s;
    }

    .flex-button-wrapper {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      .interview-button:nth-of-type(1) {
        animation: none;
        margin-right: 1rem;
        background-color: #40be66;
      }

      .interview-button:nth-of-type(2) {
        animation: none;
        background-color: #ee4b4b;
      }
    }

    .booking-date-title {
      margin-top: 2rem;
      width: 100%;
      text-align: center;
    }

    .date-picker {
      margin: 2rem 0;
    }

    .el-input {
      width: 100%;

      ::placeholder {
        color: $subfontColor;
      }
    }

    .el-input__inner {
      padding-left: 3rem;
      border-radius: 10px;
      background-color: $backgroundColor;
      box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.137),
        inset -8px -8px 8px rgba(255, 255, 255, 0.596);
    }

    .el-input__prefix {
      padding-left: 0.5rem;
      color: $iconColor;
    }
  }
}

.display-detail-container {
  width: 450px;
}