@import '../globalVariable';

//---------------------------------------------

@mixin brandColors {
  .colaBackground {
    background-color: #df8d8d;
  }
  
  .appleBackground {
    background-color: #1a1a1a;
  }
  
  .nikeBackground {
    background-color: #e69671;
  }
  
  .paypalBackground {
    background-color: #8d95df;
  }
  
  .googleBackground {
    background-color: #dfda8d;
  }
}

//---------------------------------------------

@mixin firstSection {
  &:nth-of-type(1) {
    background: url('/assets/img/office-lady.png');
    background-repeat: no-repeat;
    background-size: cover;

    .section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 1.5vw;
        font-weight: lighter;
        font-family: 'Prata', serif;
        color: $iconColor;
      }
    }
  }
}

@mixin secondSection {
  &:nth-of-type(2) {
    .section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@mixin thirdSection {
  &:nth-of-type(3) {
    .section-container {
      position: relative;
      display: flex;
      justify-content: center;

      .three-dot {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        height: 10%;
        width: 20%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .dot {
          width: 2rem;
          height: 2rem;

          img {
            width: 80%;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .third-title {
        text-align: center;
        margin-top: 30vh;

        .title {
          color: rgb(248, 248, 248);
        }

        .sub-title {
          font-size: 2vw;
          color: #ececec;
          font-weight: normal;
        }
      }
    }
  }
}

@mixin fourthSection {
  &:nth-of-type(4) {
    .section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@mixin fifthSection {
  &:nth-of-type(5) {
    .section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@mixin sixthSection {
  &:nth-of-type(6) {
    .start-button {
      width: 20rem;
      height: 20rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &:hover {
        cursor: pointer;
      }

      .label {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: $fontColor;
        font-weight: lighter;
        background: $backgroundColor;
        border-radius: 20%;

        .label-down {
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          color: $fontColor;
          font-weight: lighter;
          background: linear-gradient(-45deg, #e7ebf0 0%, #c5c9ce 100%);
          border-radius: 20%;
          opacity: 0;
          transition: opacity 100ms ease;
        }

        .back {
          transition: opacity 100ms ease 0.1s;
        }

        &:before, &:after {
          width: 20rem;
          height: 20rem;
          content: '';
          position: absolute;
          border-radius: 20%;
          box-shadow: -10px -10px 30px 0px #ffffffbb;
        }
  
        &:after {
          box-shadow: 10px 10px 30px 0px #0000001c;
        }
      }
    }

    .rgb-animation {
      .label {

        .label-down {
          opacity: 1;
        }

        .back {
          opacity: 1;
          &:before, &:after {
            display: block;
            width: 95%;
            height: 95%;
            content: '';
            position: absolute;
            border-radius: 20%;
            box-shadow: 0px 0px 10px 5px #ff00ea;
            animation: 1.5s rgb-animate infinite;
          }
    
          &:after {
            box-shadow: 0px 0px 10px 5px #00e1ff;
            animation: 1s rgb-animate infinite;
          }
        }
      }

      @keyframes rgb-animate {
        0% {
          top: 0;
          left: 0;
        }
  
        6% {
          top: 0;
          left: 1.2%;
        }
  
        12% {
          top: 0;
          left: 2.5%;
        }
  
        18% {
          top: 0;
          left: 3.75%;
        }
  
        25% {
          top: 0;
          left: 5%;    
        }
  
        31% {
          top: 1.52%;
          left: 5%;
        }
        
        37% {
          top: 2.5%;
          left: 5%;
        }
  
        43% {
          top: 3.75%;
          left: 5%;
        }
  
        50% {
          top: 5%;
          left: 5%;    
        }
  
        56% {
          top: 5%;
          left: 3.75%;
        }
  
        62% {
          top: 5%;
          left: 2.5%;
        }
  
        68% {
          top: 5%;
          left: 1.52%;
        }
  
        75% {
          top: 5%;
          left: 0%;
        }
  
        81% {
          top: 3.75%;
          left: 0;
        }
  
        87% {
          top: 2.5%;
          left: 0;
        }
  
        93% {
          top: 1.52%;
          left: 0;
        }
  
        100% {
          top: 0;
          left: 0;    
        }
      }
    } 

    .selection {
      width: 0%;
      height: 35%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 10px;
      overflow: hidden;
      transition: width ease 1s;
      text-align: center;
      transition: all ease 1s;

      .shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
        display: flex;        
        flex-direction: column;
        justify-content: center;

        .role-card-title {
          font-size: 3rem;
          font-weight: normal;
        }
  
        .role-card-detail {
          font-size: 1.5rem;
          font-weight: lighter;
          color: $iconColor;
          white-space: nowrap;
        }

        &:before {
          width: 110%;
          height: 110%;
          position: absolute;
          top: 0%;
          left: 0%;
          z-index: -1;
          content: '';
          border-radius: 10px;
          box-shadow: inset 0 0 26px 0px #00000054;
        }

        &:after {
          width: 105%;
          height: 105%;
          position: absolute;
          right: 0%;
          bottom: 0%;
          z-index: -1;
          content: '';
          border-radius: 10px;
          box-shadow: inset 0 0 26px 0px #ffffff;
        }
      }
    }

    .employee {
      right: 63%;

      &:hover {
        background-color: #eb96d6;
        cursor: pointer;
      }
    }

    .employer {
      left: 63%;

      &:hover {
        background-color: #96ebeb;
        cursor: pointer;
      }
    }

    .display {
      width: 25%;
    }
  }
}

//---------------------------------------------

.welcome-container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;

  .cover-color {
    height: 100%;
    width: 0%;
    position: fixed;
    right: 0%;
    z-index: -1;
    transition: background-color 1s ease;
  }

  .feature-photo {
    height: 100%;
    position: fixed;
    bottom: 0%;
    z-index: -1;
  }

  section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    z-index: 0;

    .section-container {
      width: 85%;
      margin: 0 auto;   
      height: 100%;
      position: relative;

      .title {
        font-size: 9vw;
        font-family: 'Prata', serif;
        color: $fontColor;
      }

      .sub-title {
        font-size: 2vw;
        color: $subfontColor;
        font-weight: normal;
      }
    }
    
    @include firstSection();
    @include secondSection();
    @include thirdSection();
    @include fourthSection();
    @include fifthSection();
    @include sixthSection();
  }

  .footer {
    width: 100%;
    height: 50%;
    background-color: $iconColor;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

    .rgb-bar {
      width: 100%;
      height: 3%;
      background-color: slateblue;
      position: absolute;
      top: 0;
      animation: 10s rgb infinite;

      @keyframes rgb {
        0% {
          background-color: #eb5252;
        }

        25% {
          background-color: #76eb52;
        }
        50% {
          background-color: #5c52eb;
        }
        75% {
          background-color: #eb52bd;
        }

        100% {
          background-color: #eb5252;
        }
      }
    }

    .footer-title {
      font-size: 3rem;
    }

    .social-wrapper {
      width: 15%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      .social {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 900%;
        position: relative;

        &:before, &:after {
          display: block;
          width: 3.5rem;
          height: 3.5rem;
          content: '';
          border-radius: 900%;
          position: absolute;
          box-shadow: 4px 4px 6px 0 #00000033;
        }

        &:after {
          box-shadow: -4px -4px 6px 0 #ffffff0e;
        }
      }
    }
  }
}

@include brandColors();

.firstSectionBackground {
  background-color: $pColorPink;
}

.secondSectionBackground {
  background-color: $pColorCyan;
}

.thirdSectionBackground {
  background-color: $pColorPink;
}

.fourthSectionBackground {
  background-color: $pColorCyan;
}

.fifthSectionBackground {
  background-color: $pColorPink;
}

.sixthSectionBackground {
  background-color: $pColorCyan;
}
