@import "../globalVariable";

.JobSearchResult-container {
	padding: 5rem 0;

	.JobSearchResult-wrapper {
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;
		padding: 0.5rem;
		display: flex;
		flex-wrap: wrap;

		.left-col {
			width: 240px;

			@media only screen and (max-width: 769px) {
				width: 100%;
			}

			display: flex;
			flex-direction: column;

			.search-wrapper {
				height: 260px;
				display: flex;
				flex-direction: column;
				position: sticky;
				top: 6rem;

				.search-label {
					color: $fontColor;
					margin-bottom: 0.7rem;
				}

				.input-box {
					border-radius: 10px;
					padding: 13px 13px 13px 13px;
					margin-top: 13px;
					position: relative;
					box-shadow: inset 3px 3px 3px #0000001e, inset -3px -3px 3px #ffffffd0;

					.search-box {
						width: 100%;
						height: 100%;
						border: none;
						background-color: transparent;

						&:focus {
							outline: none;
						}
					}

					#city-select-box {
						color: $fontColor;
						width: 100%;
						border: none;
						background-color: transparent;
						display: flex;

						&:focus {
							outline: none;
						}
					}
				}

				.button-box {
					margin-top: 2rem;
					display: flex;
					justify-content: center;
					border: none;
					border-radius: 7px;
					animation: rgb-button-color infinite 30s;
					color: #f7f7f7;
					font-weight: bold;
					box-shadow: 3px 3px 7px #0000001e, -3px -3px 7px #ffffffd0;

					&:focus {
						outline: none;
					}

					&:hover {
						cursor: pointer;
						box-shadow: inset -3px -3px 4px #ffffff5d,
							inset 3px 3px 3px #0000001e;
					}

					.search-icon {
						width: 1rem;
						fill: #f7f7f7;
					}

					.button-label {
						margin-right: 8px;
					}
				}
			}
		}

		.middle-col {
			padding: 0 32px;

			@media only screen and (max-width: 769px) {
				padding: 0;
			}

			.search-result-number {
				.found-label {
					font-size: 1.2rem;
					font-weight: bold;
					color: $fontColor;
				}

				.number-of-results {
					margin-top: 1rem;
					font-size: 4rem;
					animation: rgb-label infinite 30s;
				}

				.desired-job-name {
					font-size: 3rem;
					color: $fontColor;
				}
			}

			.job-list-result {
				display: flex;
				flex-wrap: wrap;
				margin-top: 2rem;

				.job-column {
					@media only screen and (max-width: 769px) {
						width: 100%;
					}

					.job-preview-card-container {
						margin-bottom: 20px;
						box-shadow: 4px 4px 6px 0px #00000025, -4px -4px 6px 0px #ffffff81;

						&:hover {
							cursor: pointer;
						}

						@media only screen and (max-width: 769px) {
							width: 100%;
						}
					}

					
					&:nth-of-type(1) {
						margin-right: 20px;

						@media only screen and (max-width: 769px) {
							margin-right: 0;
						}
					}
				}
			}
		}

		.right-col {
			flex: 1;
			display: flex;
			flex-direction: column;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			transition: all ease-in-out 0.3s;

			@media only screen and (max-width: 769px) {
				width: 100%;
			}

			background-color: $backgroundColor;
			position: sticky;
			right: -433px;
			top: 6rem;
			z-index: 1;
			padding: 0 0 0 1rem;

			// .company-image-detail-wrapper {
			// 	width: 100%;

			// 	.company-logo-detail {
			// 		width: 4rem;
			// 		height: 4rem;
			// 		border-radius: 300px;
			// 	}
			// }

			.company-title-detail,.company-type-detail {
				width: 100%;
				display: block;
				color: $fontColor;
			}

			.company-title-detail {
				margin-top: 1.5rem;
				font-size: 16px;
			}

			.company-type-detail {
				font-weight: bold;
				font-size: 13px;
				color: $subfontColor;
			}

			.post-title-wrapper-detail {
				margin-top: 3rem;
				color: $fontColor;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;

				.post-title-detail {
					font-size: 14px;
				}

				.post-until-detail {
					font-weight: bold;
					color: $subfontColor;
					font-size: 14px;
				}
			}
			
			.address-wrapper-detail {
				margin-top: 0.5rem;
				display: flex;
				align-items: flex-end;

				.location-pin {
					width: 0.8rem;
					margin-right: 10px;
					fill: $iconColor;
				}

				.address-detail {
					font-weight: bold;
					color: $subfontColor;
					font-size: 14px;
				}
			}

			.skills-wrapper-detail {
				margin-top: 1.5rem;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				.skill-detail {
					color: $iconColor;
					font-size: 14px;
					border-radius: 20px;
					padding: 10px 16px 10px 16px;
					margin-right: 16px;
					margin-bottom: 16px;
					background-color: $backgroundColor;
					box-shadow: 2px 2px 5px #0000003d, -2px -2px 5px #ffffff;
				}
			}

			.post-type-detail {
				margin-top: 1rem;
				color: $fontColor;
			}

			.monthly-salary-detail {
				display: block;
				color: $subfontColor;
				margin-top: 0.5rem;
			}

			.description-label-detail {
				margin-top: 1.5rem;
				color: $fontColor;
			}

			.description-detail {
				width: 100%;
				margin-top: 1rem;
				color: $fontColor;
			}

			.button-wrapper {
				margin-top: 4rem;

				.login-alert {
					display: block;
					width: 100%;
					color: $pColorPink;
					margin-bottom: 1rem;
				}

				.button {
					width: 35%;
					padding: 0.8rem;
					margin-right: 16px;
					border: none;
					border-radius: 10px;
					background-color: $darkBlueGray;
					color: white;
					font-weight: bold;
					margin-bottom: 2rem;
					box-shadow: 4px 4px 10px #00000056, -4px -4px 10px #ffffff;
	
					&:hover {
						cursor: pointer;
					}
				}

				.apply {
					animation: rgb-button-color infinite 30s;
				}
	
				.apply {
					background-color: $pColorPink;
					margin-bottom: 1rem;
				}
			}
		}

		.detail-loading-overlay {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			width: 433px;
			opacity: 1;
			transition: all ease-in-out 1s;

			@media only screen and (max-width: 769px) {
				width: 100%;
			}

			position: fixed;
			right: -433px;
			top: 0;
			z-index: 1;
			padding: 5rem 1.5rem 0 1.5rem;
			background-color: $backgroundColor;
		}

		.loading {
			right: 0;
		}

		.done-load {
			opacity: 0;
			display: none;
		}

		.display {
			opacity: 1;
			right: 0;
		}

		.loading-overlay {
			flex: 5;
			height: calc(100vh - 24px - 6rem);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.loading-icon {
			width: 50px;
			height: 50px;
			background-color: $backgroundColor;
			border-radius: 1000px;
			position: relative;

			&:before,
			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 1000px;
				z-index: -1;
			}

			&:before {
				background-color: $pColorYellow;
				animation: selection-cw-animate infinite 1s;
			}

			&:after {
				background-color: $pColorPink;
				animation: selection-ccw-animate infinite 1.5s;
			}
		}

		@keyframes selection-cw-animate {
			0% {
				top: -5%;
				left: 0;
			}

			25% {
				top: 0;
				left: 5%;
			}

			50% {
				top: 5%;
				left: 0;
			}

			75% {
				top: 0;
				left: -5%;
			}

			100% {
				top: -5%;
				left: 0;
			}
		}

		@keyframes selection-ccw-animate {
			0% {
				top: -5%;
				left: 0;
			}

			25% {
				top: 0;
				left: -5%;
			}

			50% {
				top: 5%;
				left: 0;
			}

			75% {
				top: 0;
				left: 5%;
			}

			100% {
				top: -5%;
				left: 0;
			}
		}
	}
}

.eor-label {
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 5rem;
	color: $subfontColor;
}

.lazy-load-mark {
	width: 100%;
	display: block;
	padding: 2rem;
}