@import "../../assets/scss/_globalVariable.scss";

.create-account-container {
	height: 100vh;
	padding-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;

	.center-wrapper {
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;

		.middle-wrapper {
			width: 37%;
			margin: 0 auto;
      height: 100%;
      padding: 2rem;

			.create-form-wrapper {
				width: 100%;

				@media only screen and (max-width: 969px) {
					width: 60%;
				}

				@media only screen and (max-width: 769px) {
					width: 100%;
				}

				.title {
					text-align: center;
          color: $darkBlueGray;
          font-size: 3rem;
				}

				.sub-title {
					text-align: center;
					font-weight: normal;
					color: $subfontColor;
					margin-bottom: 3rem;
				}

				.userinput {
					width: 100%;
					border: none;
					background-color: transparent;
					border-radius: 10px;
					border: 1.5px solid #adadad;
					outline: none;
					padding: 0.6rem;
					margin-bottom: 1rem;
					transition: border-bottom ease-in-out 0.2s;

					&:focus {
						animation: rgb-border infinite 6s;
					}
				}

				.full-name-input-container {
					width: 100%;
					display: flex;
					justify-content: space-between;

					.userinput {
						width: 48%;
					}
				}

				.birthday-input-container {
					width: 100%;
					margin-top: 1rem;
					display: flex;
					align-items: center;

					.birthday-label {
						display: block;
						font-weight: bold;
						color: $fontColor;
						margin-right: 2rem;
					}

					::placeholder {
						color: $fontColor;
					}

					.el-input {
						flex: 1;
					}

					.el-input__inner {
						border-radius: 10px;
						background-color: $backgroundColor;
						box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.137),
							inset -8px -8px 8px rgba(255, 255, 255, 0.596);
					}

					.el-input__prefix {
						color: $iconColor;
					}
				}

				.apply-button {
					margin-top: 2rem;
					width: 100%;
					height: 2.5rem;
					background-color: $darkBlueGray;
					border: none;
					border-radius: 10px;
					color: $backgroundColor;
					font-weight: bolder;
					box-shadow: 4px 4px 7px #00000021, -4px -4px 7px #ffffffab;

					&:focus {
						outline: none;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}

	.rgb-bar {
		width: 100%;
		height: 6px;
		animation: 10s rgb-bar infinite;
	}
}
