@import '../globalVariable';

.cover-utils-container {
  width: 100%;
  position: fixed;
  bottom: 5%;
  z-index: 5;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items: center;

    .social-svg {
      #social {
        fill: $iconColor;
  
        #Path_520:hover {
          cursor: pointer;
        }
      }
    }

    .next-svg {
      #next {
        fill: $iconColor;
        position: relative;
        top: -20%;
      }
    }
  }
}